/* Navbar CSS */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-image: url("./assets/img/header-image-2.png");
}

.logo-img {
  max-width: 100px;
  height: auto;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

/* Add this to your stylesheet, e.g., App.css */
nav.navbar .navbar-nav .nav-link {  
  padding: 20px; /* Adjust padding */
  width: 200px; /* Set width */
  height: 90px; /* Set height */
  background-size: contain; /* Show the whole image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image within the link */
  color: black; /* Change the text color if needed for better visibility */
  display: block; /* Make the Nav.Link occupy its own space for the background to show properly */
  margin-right: 20px;
}

nav.navbar .navbar-nav .nav-link.navbar-link-home {
  background-image: url('./assets/img/cloud-home.png'); 
}
nav.navbar .navbar-nav .nav-link.navbar-link-skills {
  background-image: url('./assets/img/cloud-skills.png'); 
}
nav.navbar .navbar-nav .nav-link.navbar-link-projects {
  background-image: url('./assets/img/cloud-projects.png'); 
}

.social-icon {
  display: inline-block;
  margin-left: 20px;
}
.social-icon a img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

